.contact_information {
}

.contact_information_title {
  font-size: 20px;
  line-height: 100%;
  color: #000000;
}

.contact_information_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.contact_information_option {
  display: flex;
  flex-direction: column;
}
.options {
  display: flex;
  flex-direction: column;
}
