.rates {
}
.rates_list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  list-style-type: none;
  margin-left: -40px;
}
.rates_list_item {
  display: flex;
  flex-direction: row;
  padding: 24px 0;
}
.rates_list_title {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #000000;
  width: 32%;
}
.rates_list_text {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #434343;
  width: 68%;
}
.rates_line {
  width: 100%;
  height: 0;
  border: 1px solid #7f92ac;
}
@media screen and (max-width: 1300px) {
  .rates_list_title {
    width: 35%;
  }
  .rates_list_text {
    width: 65%;
  }
  .rates_list_item {
    gap: 20px;
  }
}
@media screen and (max-width: 920px) {

}
