.cashback {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cashback_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  list-style-type: none;
  margin-left: -40px;
  margin-top: 30px;
}
.cashback_list_item {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 163.2px;

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  box-sizing: border-box;
  padding: 32px;
  background: var(--color);
}
.cashback_list_category {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
  color: rgba(67, 67, 67, 0.9);
}
.cashback_list_percent {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 147.4%;
  color: #000000;
  margin-top: 22px;
}
@media screen and (max-width: 1300px) {
  .cashback_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 920px) {

}
