.tabs {
  flex: 0 0 auto;
  width: 100%;

  display: flex;
  flex-direction: column;

  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 48px;
}

.tab_menu {
  flex: 0 0 32px;

  display: flex;
  flex-direction: row;
}

.tab_menu__item {
  position: relative;
  flex: 0 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  color: #7b7454;

  cursor: pointer;

  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
}

.tab_menu__item:global(.active) {
  border-bottom: 2px solid #7b7454;
}

.content {
}
@media screen and (max-width: 920px) {
  .tab_menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
