.prescoring {
}
.prescoring_head_caption {
  text-align: center;
  font-size: 30px;
  line-height: 147.4%;
  color: #000000;
  margin-top: 96px;
}
.prescoring_list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style-type: none;
  margin-left: -40px;
}
.prescoring_list_item {
  display: flex;
  flex-direction: column;
}
.prescoring_list_item_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}
.prescoring_circle {
  width: 48px;
  height: 48px;
  background: #d9d9d9;
  border-radius: 50px;
}
.prescoring_line {
  width: 300px;
  height: 0px;
  border: 2px solid rgba(128, 128, 128, 0.2);
  transform: rotate(179.82deg);
}
.prescoring_list_item_bottom {
  display: flex;
  flex-direction: column;
  margin-top: -40px;
  margin-left: 17px;
  gap: 30px;
}
.prescoring_list_number {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 147.4%;
  color: #000000;
}
.prescoring_list_description {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
  color: #000000;
  text-align: center;
}
.prescoring_block {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  box-sizing: border-box;
  padding: 32px;
}
.prescoring_block_top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.prescoring_caption {
  font-size: 30px;
  line-height: 100%;
  color: #000000;
  margin-top: 18px;
}
.prescoring_steps {
  display: flex;
  flex-direction: column;
  width: 47%;
}
.prescoring_steps_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.prescoring_text {
  font-size: 16px;
  line-height: 100%;
  color: #000000;
}
.prescoring_steps_bottom {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #5b35d5;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 24px;
}
.prescoring_steps_bottom_caption {
  font-size: 16px;
  line-height: 100%;
  color: #000000;
}
.prescoring_steps_bottom_select {
  margin-top: -13px;
}
.prescoring_steps_bottom_amount {
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  width: 500px;
  height: 40px;
  margin-top: 8px;
  background-color: white;
}
.prescoring_steps_bottom_line {
  width: 100%;
  height: 0px;
  border: 2px solid #e2e8f0;
  transform: rotate(179.82deg);
  margin-top: 34px;
}
.prescoring_steps_bottom_circle {
  width: 24px;
  height: 24px;
  background: #5b35d5;
  border-radius: 50px;
  margin-top: -13px;
  z-index: 1;
  margin-left: 114px;
}
.prescoring_steps_bottom_sum {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.prescoring_steps_bottom_sum_minmax {
  font-size: 16px;
  line-height: 100%;
  color: #786d6d;
}
.prescoring_dividing_line {
  width: 0px;
  height: 232px;
  border: 1px dashed rgba(128, 128, 128, 0.4);
  margin-top: 19px;
}
.prescoring_result {
  width: 47%;
  display: flex;
  flex-direction: column;
}
.prescoring_result_caption {
  font-size: 20px;
  line-height: 100%;
  color: #000000;
}
.prescoring_result_amount {
  font-size: 16px;
  line-height: 100%;
  color: #000000;
}
.prescoring_result_line {
  width: 220px;
  height: 0;
  border: 1px solid rgba(128, 128, 128, 0.2);
  transform: rotate(179.82deg);
}
.prescoring_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.prescoring_button_continue {
  padding: 8px;
  gap: 8px;
  width: 145px;
  height: 50px;
  background: #003cff;
  border-radius: 8px;
  border: none;

  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  text-align: center;
  letter-spacing: 0.02em;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #ffffff;
  cursor: pointer;
  margin-top: 24px;
}

@media screen and (max-width: 1300px) {
  .prescoring_circle {
    width: 48px;
    height: 48px;
  }
  .prescoring_list {
    width: 100%;
  }

  .prescoring_circle {
    width: 35px;
    height: 35px;
  }
  .prescoring_line {
    width: 70%;
  }
  .prescoring_list_number {
    margin: 7px 0 0 -4px;
  }
}
@media screen and (max-width: 920px) {
  .prescoring_list {
    display: flex;
    flex-direction: column;
  }
  .prescoring_block_top {
    display: flex;
    flex-direction: column;
  }
  .prescoring_steps{
    width: 100%;
  }
  .prescoring_caption{
    font-size: 25px;
  }
  .prescoring_text{
    font-size: 13px;
  }
  .prescoring_dividing_line{
    transform: rotate(90deg);
    margin-left: auto;
    margin-right: auto;
    margin-top: -88px;
  }
  .prescoring_result{
    width: 100%;
    margin-top: -105px;
  }
}
