.cards {
  display: flex;
  flex-direction: row;
  margin-top: 105px;
}
.cards_text {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 36px;
}
.cards_caption {
  max-width: 622px;
  margin: 0 0;
  font-size: 49px;
  color: #1c1c1e;
  line-height: 50px;
  letter-spacing: 0.5px;
}
.cards_chooseTheCard {
  width: 160px;
  height: 50px;
  background: #003cff;
  border-radius: 16px;
  border: none;

  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;

  text-align: center;
  letter-spacing: 0.02em;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #ffffff;
  cursor: pointer;
}

.cards_imgCards {
  width: 250px;
  height: 148.78px;
}

.cards_cardsImages {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  width: 50%;
  flex-wrap: wrap;
  gap: 16px;
  align-content: flex-start;
  justify-content: flex-end;
  list-style-type: none;
  margin-left: -40px;
  margin-top: 0;
}
@media screen and (max-width: 1300px) {
}
@media screen and (max-width: 920px) {
  .cards {
    flex-direction: column;
    align-items: stretch;
  }

  .cards_caption {
    font-size: 30px;
  }

  .cards_text {
    flex: 0 0 auto;
    width: 100%;
  }

  .cards_cardsImages {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 0;
  }

  .cards_imgCards img {
    width: 80%;
    height: auto;
  }
}
