.aboutcard {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.aboutcard_smallBlocks {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style-type: none;
  margin-left: -40px;
}
.aboutcard_smallBlocks_item {
  width: 406.66px;
  height: 236px;

  background: #eaecee;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  margin-top: 49px;
  box-sizing: border-box;
  padding: 32px;
}
.aboutcard_caption {
  font-size: 30px;
  line-height: 147.4%;
  letter-spacing: 0.02em;

  color: #000000;
  margin-top: 20px;
}
.aboutcard_description {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;

  color: #000000;
  margin-top: 16px;
}
.aboutcard_bigBlocks {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style-type: none;
  margin-left: -40px;
}
.aboutcard_bigBlocks_item {
  width: 630px;
  height: 236px;

  background: rgba(127, 146, 172, 0.7);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  margin-top: 40px;
  box-sizing: border-box;
  padding: 32px;
}
@media screen and (max-width: 1300px) {
  .aboutcard{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .aboutcard_smallBlocks {
    display: flex;
    flex-direction: row;
    gap: 0 50px;
    list-style-type: none;
    margin-left: -40px;
    flex-wrap: wrap;
  }
  .aboutcard_smallBlocks_item {
    width: 400px;
    height: 230px;
  }
  .aboutcard_bigBlocks {
    display: flex;
    flex-direction: column;
    gap: 12px;

  }
  .aboutcard_bigBlocks_item {
    margin-top: 18px;
  }
}
@media screen and (max-width: 920px) {
  .aboutcard_smallBlocks {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  .aboutcard_smallBlocks_item {
    width: 100%;
    height: auto;
  }
  .aboutcard_bigBlocks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .aboutcard_bigBlocks_item {
    width: 100%;
    height: auto;
  }
}
