.header {
  display: flex;
  align-items: center;
  padding: 7px 0;
  margin-bottom: 27px;
  background: #f5f4ff;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 303px;
}
.NeoBank a {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 112%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #b4387a;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: -40px;
}

.navLink {
  display: inline-block;
  vertical-align: top;
  margin: 0 21px;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-feature-settings: 'salt' on, 'liga' off;
}

.OnlineBank {
  width: 128px;
  height: 50px;

  background: #003cff;
  border-radius: 16px;
  border: none;

  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;

  text-align: center;
  letter-spacing: 0.02em;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #ffffff;
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  .header {
    display: flex;
    margin-bottom: 15px;
    gap: 0 0;
    flex-direction: row;
  }
  .OnlineBank {
    width: 128px;
    height: 50px;
    background: #003cff;
    border-radius: 16px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
    text-align: center;
    letter-spacing: 0.02em;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #ffffff;
    cursor: pointer;
  }
}
@media screen and (max-width: 920px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav {
    margin-left: -58px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 0;
    justify-content: space-between;
    align-items: center;
  }
}
