.loading {
  position: relative;
}

.loading__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@keyframes loading_spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading__mask__icon {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
}

.loading__mask__icon svg {
  animation: 1s loading_spin infinite linear;
}
