.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 43px;
}
.feedback_support a {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #eb801d;
  text-decoration: none;
}
.feedback_subscribe a {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.02em;
  color: #1c1c1e;
  text-decoration: none;
}
.feedback_bankNews a {
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1c1c1e;
  text-decoration: none;
}
.feedback_form {
  margin-top: 36px;
  border-radius: 20px;
  overflow: hidden;
}
.feedback_blockEmail {
  display: flex;
  flex-direction: row;
  width: 524.8px;
  height: 89.84px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
  align-items: center;
  align-content: center;
  justify-content: center;
}
.feedback_blockEmail_block {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.feedback_blockEmail_email {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-left: 32px;
}
.feedback_blockEmail_emailImg {
}
.feedback_blockEmail_yourEmail {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #9092b0;
  border: none;
}
.feedback_blockEmail_yourEmail div,
.feedback_blockEmail_yourEmail div input {
  margin: 0;
  background-color: #ffffff;
}
.feedback_blockEmail_subs {
  display: flex;
}
.feedback_blockEmail_subsButton {
  display: flex;
  width: 161.48px;
  height: 44.92px;
  background: #686df1;
  border-radius: 20px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}
.feedback_message {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #1c1c1e;
}
@media screen and (max-width: 1300px) {
  .feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 64px;
  }
  .feedback_blockEmail_subsButton {
    display: flex;
    width: 140px;
    height: 35px;
    background: #686df1;
    border-radius: 20px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (max-width: 920px) {
  .feedback {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    align-items: center;
    gap: 0;
  }

  .feedback_support a {
    font-weight: 700;
    font-size: 20px;
    line-height: 147.4%;
    letter-spacing: 0.02em;

    color: #eb801d;
    text-decoration: none;
    margin-bottom: -25px;
  }

  .feedback_subscribe a {
    font-weight: 700;
    font-size: 22px;
    line-height: 147.4%;
    letter-spacing: 0.02em;

    color: #1c1c1e;
    text-decoration: none;
    margin-bottom: -25px;
  }

  .feedback_bankNews a {
    font-weight: 500;
    font-size: 22px;
    line-height: 147.4%;
    /* or 44px */

    text-align: center;
    letter-spacing: 0.02em;

    color: #1c1c1e;
    text-decoration: none;
    margin-bottom: -25px;
  }

  .feedback_blockEmail {
    max-width: 320px;
    height: 50px;

  }
  .feedback_blockEmail_error {
    font-size: 10px;
    color: red;
    margin-left: -67px;
  }
  .feedback_blockEmail_block {
    display: flex;
    flex-direction: row;
    margin-top: -9px;
    align-items: center;
  }
  .feedback_blockEmail_email {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-left: 32px;
  }

  .feedback_blockEmail_emailImg {
    width: 15%;
  }

  .feedback_blockEmail_yourEmail {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.02em;
    color: #9092b0;
  }

  .feedback_blockEmail_subs {
    display: flex;
    margin-right: 32px;
  }

  .feedback_blockEmail_subsButton {
    display: flex;
    width: 90px;
    height: 30px;
    background: #686df1;
    border-radius: 20px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #ffffff;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin-left: -45px;
  }

  .feedback_blockEmail_subsImg {
    width: 20%;
  }

  .feedback_blockEmail_subsImg svg {
    width: 100%;
    height: auto;
  }
}
