.loantop {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: linear-gradient(
    180.8deg,
    rgba(203, 213, 224, 0.624) 34.33%,
    rgba(254, 235, 200, 0.56) 64.27%
  );
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28.8px;
  box-sizing: border-box;
  padding: 32px;
}
.loantop_textBlock {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  width: 52%;
}
.loantop_caption {
  margin: 0 0;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.loantop_text {
  width: 515px;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #2d3748;
  margin-top: 48px;
}
.loantop_points {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  justify-content: space-between;
  list-style-type: none;
  margin-left: -40px;
}
.loantop_points_item {
  display: flex;
  flex-direction: column;
}
.loantop_points_condition {
  font-size: 20px;
  line-height: 112%;
  letter-spacing: 0.02em;

  color: #3d3d3d;
}
.loantop_points_text {
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;

  color: #3d3d3d;
}
.loantop_button_apply {
  padding: 8px;
  gap: 8px;
  width: 145px;
  height: 50px;
  background: #003cff;
  border-radius: 8px;
  border: none;

  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  text-align: center;
  letter-spacing: 0.02em;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #ffffff;
  cursor: pointer;
  margin-top: 36px;
}
.loantop_button_apply_to {
  scroll-behavior: smooth;
}
.loantop_cardBlock {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
  margin-left: -40px;
}
.loantop_imgCard img {
  width: 150%;
  height: 150%;
  border-radius: 20px;
  transform: rotate(10deg);
}
@media screen and (max-width: 1300px) {
  .loantop {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .loantop_imgCard {
    width: 70%;
    margin-left: 127px;
  }

  .loantop_imgCard img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 920px) {
  .loantop {
    display: flex;
    flex-direction: column;
  }
  .loantop_textBlock{
    width: 100%;
  }
  .loantop_caption {
    font-size: 40px;
  }
  .loantop_text {
    font-size: 20px;
    width: 100%;
    margin-top: 48px;
  }
  .loantop_points{
    display: flex;
    flex-direction: column;
  }
  .loantop_cardBlock{
    display: flex;
    width: 100%;
     margin-left: -127px;
    justify-content: flex-start;
  }
  .loantop_imgCard {
    width: 30%;
    margin-top: 20px;
    transform: rotate(-10deg);
  }
  .loantop_imgCard img {
    width: 100%;
    height: auto;
  }
}
