.footer {
  width: 100%;
  margin-top: 98px;
  background: linear-gradient(0deg, rgba(178, 178, 178, 0.2), rgba(178, 178, 178, 0.2)), #f4f4f4;
}
.footer_block {
  display: flex;
  padding: 0 100px;
  flex-direction: column;
}
.footer_top {
  display: flex;
  flex-direction: row;
  margin-top: 93px;
  justify-content: space-between;
  /*padding: 32px;*/
}
.footer_contacts {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer_phone {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 147.4%;
  color: #000000;
}
.footer_neoEmail {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #2d3748;
}
.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style-type: none;
  margin-left: -40px;
  gap: 24px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 37px;
}
.navLink {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #1d1929;
}
.footer_line {
  width: 100%;
  margin-top: 6px;
  border: 2px solid rgba(255, 255, 255, 0.81);
  transform: rotate(179.82deg);
}
.footer_endText {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
  letter-spacing: 0.5px;
  margin-top: 32px;
  color: #2d3748;
  margin-bottom: 92px;
}
@media screen and (max-width: 1300px) {
  .footer {
    width: 100%;
    background: linear-gradient(0deg, rgba(178, 178, 178, 0.2), rgba(178, 178, 178, 0.2)), #f4f4f4;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .footer_block {
    display: flex;
    padding: 0 50px;
    flex-direction: column;
  }
  .footer_top {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
  }

  .footer_contacts {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}
@media screen and (max-width: 920px) {
  .footer {
    width: 100%;
    background: linear-gradient(0deg, rgba(178, 178, 178, 0.2), rgba(178, 178, 178, 0.2)), #f4f4f4;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .footer_block {
    padding: 0 30px;
  }
  .footer_logo {
    width: 70%;
  }
  .footer_logo img{
    width: 70%;
    height: auto;
  }
  .footer_top {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
  }

  .footer_contacts {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .footer_phone {
    font-size: 17px;
  }

  .footer_neoEmail {
    font-size: 13px;
  }

  .footer_logo {
    width: 30%;
  }

  .footer img {
    width: 100%;
    height: auto;
  }

  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
  }

  .footer_nav_link {
    flex: 0 0 calc(50% - 30px);
    padding: 2px;
    margin: 0;
  }
}
