.select_field {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  position: relative;
  width: auto;
  max-width: 300px;
  height: auto;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #1a202c;
  margin-top: 26px;
}

.select_field select {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  padding: 0 40px 0 16px;
  box-sizing: border-box;
  margin: 0;
  outline: #5b35d5;
  background: #f9f5e3;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 6px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #808080;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select_field__label[data-required='true']:after {
  content: '*';
  color: #ff5631;
  margin-left: 5px;
}

.select_field__error {
  margin-top: 2px;
  color: #ff5631;
}

.select_field__icon {
  position: absolute;
  top: 8px;
  right: 8px;
}

.select_field select:focus + .select_field__icon svg {
  transform: rotate(0);
}

.select_field__icon svg {
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}
.select_field_block {
  position: relative;
  width: 285px;
  height: 40px;
  margin-top: 8px;
}
.select_field_block input:focus {
  border-color: #5b35d5;
}
@media screen and (max-width: 920px) {
  .select_field_block {
    width: 240px;
  }
}
