.currency {
  display: flex;
  flex-direction: row;
  margin-top: 39px;
  width: 100%;

  background: linear-gradient(
      358.2deg,
      rgba(178, 178, 178, 0.8) 8.06%,
      rgba(178, 178, 178, 0) 67.93%
    ),
    rgba(244, 244, 244, 0.9);
  mix-blend-mode: normal;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(187, 187, 187, 0.2);
  border-radius: 28px;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 32px;
}
.currency_textBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: -17px;
}
.currency_caption {
  width: 456px;
  font-size: 30px;
  line-height: 50px;
  color: #1c1c1e;
  margin: 0;
  letter-spacing: 0.3px;
  margin-top: 18px;
}
.currency_textCurrency {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin-top: 34px;
}

.currency_list {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 26px;
}
.currency_list_item {
  display: flex;
  flex-direction: row;
  gap: 19px;
}
.currency_list_name {
  width: 47px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  letter-spacing: 0.02em;
  color: #808080;
}
.currency_list_price {
  width: 52px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #000000;
}
.currency_textCourses{
  display: flex;
  margin-top: 33px;
  margin-bottom: -21px;
}
.currency_textCourses a {
  font-weight: 700;
  font-size: 20px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-decoration: none;
}
.currency_bankText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5%;
}

.currency_textInfo {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  color: #000000;
}

@media screen and (max-width: 1300px) {
  .currency {
    display: flex;
    flex-direction: row;
    margin-top: 52px;
    width: 100%;
    background: linear-gradient(
        358.2deg,
        rgba(178, 178, 178, 0.8) 8.06%,
        rgba(178, 178, 178, 0) 67.93%
      ),
      rgba(244, 244, 244, 0.9);
    mix-blend-mode: normal;
    box-shadow: 0px 0px 3.06984px rgba(0, 0, 0, 0.08),
      0px 1.53492px 3.06984px rgba(187, 187, 187, 0.2);
    border-radius: 21px;
  }

  .currency_curGroup {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (max-width: 920px) {
  .currency {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    padding: 10px;
  }

  .currency_textBlock {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    line-height: 30px;
  }

  .currency_caption {
    width: 80%;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: -5px;
  }

  .currency_textCurrency {
    font-size: 14px;
  }

  .currency_textCourses a {
    font-size: 14px;
    margin-bottom: -15px;
  }

  .currency_list {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
  }

  .currency_list_name {
    font-size: 14px;
  }

  .currency_list_price {
    font-size: 14px;
  }

  .currency_bankText {
    display: flex;
    flex-direction: row;
    margin-top: -39px;
    margin-left: 13px;
  }

  .currency_textInfo {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .currency_bank {
    width: 15%;
    margin-bottom: 21px;
  }

  .currency_bank img {
    width: 100%;
    height: auto;
  }
}
