.tooltip {
  position: relative;
}

.tooltip:hover > .tooltip__message {
  width: 170px;
  height: auto;
  padding: 7px;
}

.tooltip__message {
  position: absolute;
  top: 100%;
  background: #3d3d3d;

  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;

  width: 0;
  height: 0;
  overflow: hidden;
}

.tooltip__message__text {
}
