.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 19px;
  letter-spacing: 0.5px;
}
.news_caption {
  font-size: 30px;
  line-height: 50px;
  color: #000000;
  margin-bottom: -4px;
}
.news_text {
  font-size: 16px;
  line-height: 50px;
  color: #2d3748;
}
.news_list {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 23px;
  padding: 5px;
}
.news_content {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  gap: 80px;
  transition: 0.5s;
  transform: translateX(calc(var(--number) * -400px));
}
.news_list_item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 32px;
  height: 448px;
  width: 320px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  font-family: Ubuntu, sans-serif;
  text-decoration: none;
  color: #000000;
  gap: 32px;
}
.news_list_item_img {

  width: 256px;
  height: 120px;
}
.news_list_item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news_list_item_title {
  /*flex: 0 0 120px;*/
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  overflow: hidden;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.news_list_item_text {
  flex: 0 0 120px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  -webkit-line-break: normal;
}
.news_buttons {
  align-self: self-end;
  margin-top: 39px;
}
.news_buttons_item {
  background: #003cff;
  border-radius: 50%;
  padding: 0;
  width: 64px;
  height: 64px;
  border: 1px solid #ffffff;
  cursor: pointer;
}
.news_buttons_item path {
  stroke: #ffffff;
}
.news_buttons_item:disabled {
  background: #ffffff;
  border: 1px solid #003cff;
  cursor: not-allowed;
}
.news_buttons_item:disabled path {
  stroke: #003cff;
}

.news_buttons_item:first-child {
  margin-right: 20px;
}
.news_buttons_item:last-child svg {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}
@media screen and (max-width: 1300px) {
}
@media screen and (max-width: 920px) {
  .news_caption {
    font-size: 16px;
    line-height: 50px;
    color: #000000;
    margin-bottom: -25px;
  }

  .news_text {
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    color: #2d3748;
    margin-top: 30px;
  }

  .news_buttons_item.right {
    width: 30%;
  }

  .news_buttons_item.left {
    width: 30%;
  }
}
