body {
  margin: 0;
  background: #f5f4ff;
  /*background-image: url('/public/images/home.png');*/
  /*opacity: 30%;*/
  /*background-position: top;*/
  /*margin-top: 13px;*/
  /*margin-left: 19px;*/
  width: 100%;
}

#root {
  /*width: 1300px;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3 {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 500;
}
@media screen and (max-width: 1300px) {
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 920px) {
  body {
    padding: 0;
    box-sizing: border-box;
  }
}
