.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 23px;
}
.map_caption {
  font-size: 30px;
  line-height: 50px;
  color: #1c1c1c;
  margin-bottom: -6px;
  letter-spacing: 0.5px;
}
.map_text {
  font-size: 16px;
  line-height: 50px;
  color: #1c1c1e;
}
.map_mapImg {
  margin-top: 27px;
}
@media screen and (max-width: 1300px) {
  .map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
  }

  .map_mapImg {
    width: 70%;
  }

  .map_mapImg svg {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 920px) {
  .map {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .map_caption {
    font-size: 16px;
    color: #1c1c1c;
    text-align: center;
    margin-bottom: -25px;
    line-height: 30px;
  }

  .map_text {
    font-size: 13px;
    color: #1c1c1e;
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
  }

  .map_mapImg {
    width: 90%;
    margin-top: 14px;
  }

  .map_mapImg svg {
    width: 100%;
    height: auto;
  }
}
