.main_body {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 1300px) {
  .main_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 920px) {
  .main_body {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
