.accordion {
  flex: 0 0 auto;
  width: 100%;

  display: flex;
  flex-direction: column;

  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  border: 1px solid #e2e8f0;
  margin-top: -1px;
}

.accordion:global(.active) .accordion__title__marker {
  transform: rotate(0);
}

.accordion__title {
  flex: 0 0 24px;
  width: 100%;

  padding: 32px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;
}

.accordion__title__text {
  flex: 0 1 100%;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
  color: #1c1c1e;
}

.accordion__title__marker {
  flex: 0 0 auto;
  align-self: self-end;
  transform: rotate(90deg);
}

.accordion__content {
  flex: 0 0 auto;
  width: 100%;
  height: auto;

  padding: 20px 32px 32px 32px;
  box-sizing: border-box;
  overflow: visible;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 147.4%;
  color: #7b7454;
}

.accordion:global(:not(.active)) .accordion__content {
  padding: 0;
  overflow: hidden;
  height: 0;
}
