.benefits {
  display: flex;
  flex-direction: row;
  margin-top: 101px;
}
.benefits_illustration {
  width: 44%;
}
.benefits_textBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 41px;
  margin-left: 32px;
  width: 62%;
}
.benefits_caption {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
  letter-spacing: 0.5px;
}
.benefits_text {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin-top: -9px;
}
.benefits_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  gap: 17px;
  align-items: flex-start;
  margin-top: 11px;
  margin-left: -9px;
  list-style-image: url('/src/assets/tick.svg');
}
.benefits_list_item {
  display: flex;
  flex-direction: row;
  gap: 18px;
}
.benefits_list_tick {
  width: 20px;
  height: 20px;
}
.benefits_list_textTick {
  width: 180px;

  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #4f5665;
}
@media screen and (max-width: 1300px) {
  .benefits {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: center;
  }

  .benefits_illustration {
    width: 70%;
  }

  .benefits_illustration svg {
    width: 100%;
    height: auto;
  }

  .benefits_textBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    padding-top: 28px;
  }
}
@media screen and (max-width: 920px) {
  .benefits {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
  }
  .benefits_illustration {
    width: 90%;
  }

  .benefits_illustration svg {
    width: 100%;
    height: auto;
  }

  .benefits_textBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    padding-top: 10px;
  }

  .benefits_caption {
    font-size: 18px;
    margin-bottom: -15px;
    line-height: 30px;
  }
  .benefits_text {
    margin-top: 5px;
  }
  .benefits_list {
    margin-top: 0;
  }
}
